!*.meta
*.log
*.DS_Store
*.sln
*.git
*.vscode

# 编译器
.git/
.vs/
.gradle/
.idea/
.vscode/
.consulo/

!*.dll.meta
!*.asset.meta
!*.asmdef.meta
!*.cs.meta

[Bb]uild/
[Bb]uilds/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]in/
[Pp]ackages/
[Vv]env/