!*.meta
*.log
*.DS_Store
*.sln
*.git

!*.dll.meta
!*.asset.meta
!*.asmdef.meta
!*.cs.meta

.git/
.vs/
.idea/
.gradle/
.consulo/
[Bb]uild/
[Bb]uilds/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]in/
[Oo]bj/
[Pp]ackages/