!*.meta
*.log
*.DS_Store
*.sln
*.git
*.vscode

# 编译器
.git/
.vs/
.gradle/
.idea/
.vscode/
.consulo/

!*.dll.meta
!*.asset.meta
!*.asmdef.meta
!*.cs.meta

[Bb]uild/
[Bb]uilds/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Bb]in/
[Pp]ackages/
[Vv]env//.chglog/*
*.yaml
*.yml
/.github/API_USAGE/*
/.github/ISSUE_TEMPLATE/*
/.github/PULL_REQUEST_TEMPLATE/*
/.github/Template/*
/.github/workflows/*
/.github/*.py
/.github/*.sh
/.github/*.bat
