name: Qodana
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    tags: # 当生成指定标签时触发
      - '*.*.*'
    branches: # Specify your branches here
      - main
      - master
      - 1.x

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # 检查实际的pull请求提交，而不是合并提交
          fetch-depth: 0 # 拉请求分析需要完整的历史记录
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2024.1
        with:
          qodana_version: '2024.1'
          qodana_command: 'scan'
          qodana_options: '--report-format=github'
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json